{% load i18n %}

<li class="list-group-item">
     <p class="list-group-item-text">
        {% translate title %}
        <span class="pull-right {% if has_access is False %}text-muted{% endif %}">
            {% if type == "tax" %}
                {% widthratio value 1 100 %} %
            {% elif type == "hour" %}
                {{ value }}:00
            {% else %}
                {{ value }}
            {% endif %}
            {% if has_access is False %}
                <i class="fas fa-ban text-danger" title="No Access"></i>
            {% elif has_access is True %}
                <i class="fas fa-check text-success" title="Has Access"></i>
            {% endif %}
        </span>
    </p>
</li>
