{% load i18n %}
{% load static %}
{% load humanize %}
{% load structures %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{structure}}</h4>
</div>

<div class="modal-body">
    <p class="text-center">
        <img class="img-circle" src="{{ structure_image_url }}" style="width: 175px; height: 175px;">
    </p>
    <br>
    <ul class="list-group">
        {% list_title "General" %}
        {% list_item "Allow alliance member usage" detail.allow_alliance_members %}
        {% list_item "Allow corporation member usage" detail.allow_corporation_members %}
        {% list_item "Use alliance standings" detail.use_alliance_standings %}

        {% list_title "Defense" %}
        {% list_item "Attack if standing lower than" detail.attack_standing_threshold %}
        {% list_item "Attack if security status lower than" detail.attack_security_status_threshold %}
        {% list_item "Attack if other security status is dropping" detail.attack_if_other_security_status_dropping %}
        {% list_item "Attack if at war" detail.attack_if_at_war %}

        {% list_title "Access" %}
        {% list_item "Anchor role" detail.get_anchor_role_display %}
        {% list_item "Unanchor role" detail.get_unanchor_role_display %}
        {% list_item "Online role" detail.get_online_role_display %}
        {% list_item "Offline role" detail.get_offline_role_display %}
        {% list_item "Fuel bay view role" detail.get_fuel_bay_view_role_display %}
        {% list_item "Fuel bay take role" detail.get_fuel_bay_take_role_display %}

        {% list_title "Fuel" %}
        {% for fuel in fuels %}
            {% list_item fuel.eve_type.name fuel.quantity fuel.eve_type %}
        {% empty %}
            {% list_item "empty" is_muted=True %}
        {% endfor %}

    </ul>
    <p class="text-muted">Last updated {{ last_updated_at|naturaltime|default:"?" }}</p>
</div>
