{% load humanize %}

<li class="list-group-item">
     <p class="list-group-item-text">
        {% if eve_type %}
            <img src="{{ eve_type.icon_url }}" style="height: 32px; width: 32px;">&nbsp;
            <a href="{{ eve_type.profile_url }}" target="_blank">{{ eve_type.name }}</a>
        {% elif is_muted %}
            <span class="text-muted">{{ title }}</span>
        {% else %}
            {{ title }}
        {% endif %}
        <span class="pull-right">
            {% if value is False or value is None %}
                <i class="fas fa-times text-danger" title="Disabled"></i>
            {% elif value is True %}
                <i class="fas fa-check text-success" title="Enabled"></i>
            {% else %}
                {{ value|intcomma }}
            {% endif %}
        </span>
    </p>
</li>
