{% load i18n %}
{% load bootstrap %}
{% load static %}

<!-- structure list -->
<div role="tabpanel" class="tab-pane" id="structures">
    <div class="table-responsive">
        <!-- Tags Filter Button -->
        <span class="pull-right">
            {% if tags_exist %}
                {% if active_tags %}
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalTagsFilter">
                    {% translate "Tags Filter (Active)" %}
                    </button>
                {% else %}
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalTagsFilter">
                        {% translate "Tags Filter" %}
                    </button>
                {% endif %}
            {% else %}
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalTagsFilter" disabled="disabled">
                    {% translate "Tags Filter" %}
                </button>
            {% endif %}
        </span>

        <!-- Tags Filter Modal -->
        <div class="modal" id="modalTagsFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <form method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">{% translate "Tags Filter" %}</h4>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ tags_filter_form|bootstrap }}
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default pull-left" href="{% url 'structures:index' %}" role="button">
                                {% translate "Reset Filter" %}
                            </a>
                            <a class="btn btn-default pull-left" href="{% url 'structures:main' %}" role="button">
                                {% translate "Clear Filter" %}
                            </a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                {% translate "Cancel" %}
                            </button>
                            <button type="submit" class="btn btn-primary">
                                {% translate "Apply Filter" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <table id="tab_structures" style="width: 100%" class="table table-striped table-compact">
            <thead>
                <tr>
                    <th></th>
                    <th>{% translate "Owner" %}</th>
                    <th>{% translate "Location" %}</th>
                    <th></th>
                    <th>{% translate "Type" %}</th>
                    <th>{% translate "Name & Tags" %}</th>
                    <th>{% translate "Services" %}</th>
                    <th>{% translate "Fuel Expires" %}</th>
                    <th>{% translate "Last Online" %}</th>
                    <th>{% translate "R-Hour" %}</th>
                    <th>{% translate "State" %}</th>
                    <th>{% translate "Core" %}</th>
                    <th></th>
                </tr>
            </thead>
        </table>

        <p>
            {% if active_tags %}
                {% translate "Active Tags Filter" %}:&nbsp;
                {% for tag in active_tags %}
                    {{ tag.html }}&#32;
                {% endfor %}
            {% endif %}
        </p>

        <!-- Table Legend -->
        <p class="text-muted">
            {% translate "All dates are EVE time" %}
            • {% translate "Offlined services are shown as" %} <del>{% translate "service" %}</del>
            • {% translate "Reinforced structures (except POCOs) are highlighted in red" %}
            • {% translate "Data can be outdated by up to 1 hour due to API caching." %}
        </p>

    </div>
</div>

<div class="modal" id="modalStructureFit" tabindex="-1" role="dialog" aria-labelledby="{% translate 'FittingModalLabel '%}">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalStructureFitContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Loading...</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
